.swiper-button-next {

 background: url(../src/assets/images/nextbtn.png);
 background-repeat: no-repeat;
 background-size: 100% auto;
 background-position-y: 10px;
 top: 50% !important;

 width:40px !important;
 align-items: flex-end !important;
 justify-content: flex-end !important;
}
.swiper,.swiper *{
  z-index: 0 !important;
}
.goldRibbonBanner{
  display: none !important;
}
.diamond-bg{
  background: rgb(30,42,76);
  background: radial-gradient(circle, rgba(30,42,76,1) 0%, rgba(13,19,35,1) 100%);
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.custom-radio:checked {
  border-color: transparent;
}

.custom-radio:checked::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  outline: 2px solid white;
  background-color: white; /* Tailwind's indigo-600 */
  border-radius: 50%;
}

.custom-radio:hover {
  border-color: white; /* Tailwind's indigo-600 */
}
.swiper-button-prev {

  background: url(../src/assets/images/nextbtn.png);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  background-size: 100% auto;
  background-position: top;
  top: 50% !important;
  width:40px !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  
 }
.nav-cat-txt:hover hr{
  opacity: 1;

}


 .swiper-button-next1 {

  background: url(../src/assets/images/nextbtn.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: 10px;
  top: 50% !important;
 
  width:40px !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
 }

 .swiper-button-prev1 {
 
   background: url(../src/assets/images/nextbtn.png);
   background-repeat: no-repeat;
   transform: rotate(180deg);
   background-size: 100% auto;
   background-position: top;
   top: 50% !important;
   width:40px !important;
   align-items: flex-end !important;
   justify-content: flex-end !important;
   
  }
.swiper-button-next::after,.swiper-button-prev::after {display: none;}
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
  }
  
  .home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
  }
  

  ul {
    padding: 0;
    list-style-type: none;
  }
  
  
  
 
  .phone {
    background-color: #36383F;
    border-radius: 40px;
    width: 300px;
    height: 600px;
    Display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 30px 50px 100px #85888C;
  }
 

  
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 20px; */
    color: #832729;
    /* left: 25px; */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #832729;
    border-radius: 3px;
    z-index: 0;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #menuToggle .logo-qr
  {
   
    position: relative;
    width: 50px;
    height: 50px;
    z-index: -1;
   
  }
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    right: 0;
    background: #832729;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
 .above{
  -webkit-transform: translate3d(0,0,0);
   z-index: 999;
   transform: translate3d(0,0,0);
   /* transform: translateZ(40); */
 }
 .nav-swiper .swiper-wrapper{
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
 }
  #menu
  {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    /* box-shadow: 0 0 10px #85888C; */
    /* margin: -50px 0 0 -50px; */
    padding: 10px;
    left: 0;
    top: 0;
    padding-top: 40px;

 
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu-qr
  {
    position: fixed;
    width: 440px;
    height: 200vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 0 20px;
    top: 0;
    right:0;
    padding-top: 100px;

 
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu-filters
  {
    position: fixed;
    max-width: 440px;
    height: 200vh;
    box-shadow: 0 0 10px #A76767;
    margin: 0px 0 0 0px;
    padding: 0 20px;
    top: 0;
    left:0;
    padding-top: 12px;

 
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-105%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
  
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
     box-shadow: 0 0 10px #85888C;
    transform: none;
  }
  .MapWrapper> div{
border-radius: 17px;
overflow: hidden;
height: 100%;
  }

  .tanishq-brand-gradient{
    background: rgb(131,39,41);
    background: linear-gradient(9deg, rgba(131,39,41,1) 47%, rgba(99,21,23,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* .ibm-plex-sans {
  font-family: "IBM Plex Sans", sans-serif;

} */
