/* MyCarousel.css */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    background: transparent;
  }
  .ibm-plex {
    font-family: "IBM Plex Sans", sans-serif;
    
  }
  .fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
   
  }
  
  .my-carousel {
    position: relative;
  }
  
  /* .my-carousel__swiper {
    padding-bottom: 150px;
  } */
  
  .my-carousel__actions {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .my-carousel__control {
    display: inline-flex;
    border-radius: 5em;
    font-size: 20px;
    font-weight: 500;
    padding: 1em 2em;
    cursor: pointer;
  }
  
  .swiper-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .swiper-slide{
    background-color: transparent;
  }
  .swiper-card >div> img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
   
    width: 328px;
    color: transparent;
    
  }
  

  