@tailwind base;
@tailwind components;
@tailwind utilities;

/* .fraunces {
    font-family: "Fraunces", serif;
    
   
  } */
.review-slider {
  line-height: 20px;
  width: 400px;
  text-align: center;
}

.review-slider>p {
  margin: 0;
}

.review-slider>div::before {
  float: left;
  clear: left;
}

.review-slider>div::after {
  float: right;
  clear: right;
}

.review-slider>div::before,
.review-slider>div::after {
  content: '\A0';
}

.review-slider>div:nth-of-type(1)::before,
.review-slider>div:nth-of-type(1)::after {
  width: 60px;
}

.review-slider>div:nth-of-type(2)::before,
.review-slider>div:nth-of-type(2)::after {
  width: 3px;
}

.review-slider>div:nth-of-type(3)::before,
.review-slider>div:nth-of-type(3)::after {
  width: 30px;
}

::-webkit-scrollbar {
  display: none;
}