@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;1,300&family=Nunito:wght@200;300;500;600;700&family=Open+Sans:wght@300;500;600;700&family=Sacramento&display=swap');


*{
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Sacramento', cursive; */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.txtc{
  color: #832729 !important;
}

/* Define background gradients */
.tanishqAIBg {
  background-image: linear-gradient(90deg, rgba(216,70,88,1) 0%, rgba(114,37,46,1) 100%);
}
@media (min-width: 768px) {
.liteLimeBg {
  background-image: linear-gradient(9deg, rgba(249,242,229,0.49) 0%, rgba(249,242,229,1) 100%);
}

/* Define box shadow */
.sequreShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
}